*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: Arial;
}

body{
  overflow: hidden;
  background-color: black;
}

#title{
  position: absolute;
  top: 10px;
  left: 50px;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#share{
  position: absolute;
  top: 5px;
  right: 5px;
}

#controls{
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all .25s ease-in;
  color: white;
}

.left{
  float: left;
}

.right{
  float: right;
}

.control-group{
  display: inline;
}

.control-group button{
  margin: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background-color: rgb(50, 50, 50);
  border-radius: 3px;
  border: none;
  color: white;
  outline: none;
  box-shadow: 3px 3px 0px #0AA36F inset, -3px -3px 0px #0AA36F inset;
  transition: all .25s ease-in;
}

.control-group button:hover{
  box-shadow:
  2px 2px 0px rgb(45, 45, 45) inset, -2px -2px 0px rgb(45, 45, 45) inset,
  4px 4px 0px #0AA36F inset, -4px -4px 0px #0AA36F inset;
}

.control-group button:active{
  box-shadow: 5px 5px 0px #0AA36F inset, -5px -5px 0px #0AA36F inset;
}

#progress-bar{
  margin: 22.5px 10px;
  height: 5px;
  position: absolute;
  cursor: pointer;
  transition: all .1s ease-in-out;
  display: inline;
  background-color: rgb(45, 45, 45);
  border-radius: 3px;
}

#progress-bar:hover{
  height: 7.5px;
  margin: 21.25px 10px;
}

#progress-bar:hover #completed{
  box-shadow: 0px 0px 5px white;
}

#progress-bar:hover #completed::after{
  top: -6.25px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px white;
}

#in-buffer{
  width: 50%;
  height: 100%;
  background-color: rgb(65, 65, 65);
  border-radius: 3px
}

#completed{
  height: 100%;
  width: 30%;
  background-color: #0AA36F;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px
}

#completed::after{
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  right: -7.5px;
  top: -5px;
  border-radius: 15px;
  background-color: #0AA36F;
  transition: all .1s ease-in-out;
}

.control-group progress:hover{
  height: 7.5px;
  margin: 21.25px 5px;
}

.control-group .popup{
  position: absolute;
  background-color: rgb(50, 50, 50);
  border-radius: 3px;
  bottom: 100%;
}
.control-group .popup .popup-row{
  margin: 5px;
  width: 100%;
}

#volume{
  opacity: 0;
  width: 40px;
  margin-left: 5px;
  height: 150px;
  transition: all .25ms ease-in;
}

#input-volume{
  position: absolute;
  top: 50px;
  left: -50px;
  width: 140px;
  height: 50px;
  transform: rotate(270deg);
  cursor: pointer;
}

#settings{
  transition: all .25ms ease-in;
  opacity: 0;
  right: 0;
}
